<header class="main-header" [class.collapsed]="collapsed">
  <div class="header-container">
    <div class="logo">
      <h1 class="logo-text">MR</h1>
      <span class="logo-subtitle">Portfolio</span>
    </div>

    <nav class="main-nav">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <i class="fas fa-home"></i> <span>Home</span>
      </a>
      <a routerLink="/portfolio" routerLinkActive="active" class="nav-link">
        <i class="fas fa-user"></i> <span>Portfolio</span>
      </a>
      <a routerLink="/cv" routerLinkActive="active" class="nav-link">
        <i class="fas fa-user"></i> <span>CV</span>
      </a>
    </nav>
  </div>
</header>
